* {
  box-sizing: border-box;
  transition: all 0.75s ;
}

body {

  /* leave it to hide the scrollbars */
  background-color: #020d1f;
  margin: 0;
}

 body.clear {
  background-color: #ffffff;
 }

#sparseHolder {
  height: 100vh;
  width: 100%;
  padding-top: calc(50vh - 300px);
}

#signup {
  height: 100vh;
  width: 100%;
  background-color: #020d1f;
  overflow: auto;
  position: relative;
  color: #ffffff;
}

#mc_embed_signup {
  min-height: 360px;
  width: 640px;
  margin: auto;
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 320px);
}

#mc_embed_signup form {
  margin: 0 !important;
}

#mc_embed_signup .mc-field-group input {
  border-radius: 0;
  border-color: #ffffff;
  padding: 1.5rem 0.5rem !important;
  font-size: 2rem;
}

#mc_embed_signup .mc-field-group label {
  margin-bottom: 0.5rem !important;
  text-transform: uppercase;
  font-weight: 400;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: transparent !important;
  border-radius: 0 !important;
  margin: 0.5rem 0 !important;
}

.standard {
  margin: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.clear.standard {
  margin: 0;
}

#normal main:before {
  content:"";
  position: absolute;
  height: 40vw;
  width: 40vw;
  top: calc(50% - 20vw);
  left: calc(50% - 20vw);
  background-image: url("seliumWhite.svg");
  background-size: contain;
  z-index: 2;
}

#logoHolder {
  width: 90vw;
  height: 45vw;
  max-width: 1200px;
  max-height: 600px;

  position: relative;
  margin: 0 auto;
  z-index: -1;
}

#logoHolder.logoHolder--small {
  width: 600px;
  height: 300px;
  margin: calc(50vh - 150px) auto;
}

#logoHolder.logoHolder--tiny {
  width: 300px;
  height: 150px;
  margin: calc(50vh - 75px) auto;
}


#logoHolder:before {
  content:"";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("seliumInverted.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 1;
}

#logoHolder:after {
  content:"";
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  border: 10px solid #ffffff;
  box-sizing: content-box;
}

#message {
  width: 90vw;
  max-width: 1200px;
  padding: 2%;
  margin: -8vw auto 0 auto;
  z-index: 2;
  position: relative;
}


#field {
  width: 100vw;
  height: 100vh;
  background-color: #170322;
}

.sampleH1 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -0.03em;
  margin: 0.5rem 0;
}

h1 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  letter-spacing: -0.03em;
  margin: 0.5rem 0;
}

.standard h1 {
  font-size: 3rem;
}

.standard p {
  font-size: 1.25em;
}



h2 {
  font-size: 2.25rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}

h4.tight {
  margin: 0;
}

#mc-embedded-subscribe,
#mc-embedded-subscribe:visited,
.button, .button:visited {
  border-radius: 1rem !important;
  padding: 2rem 4rem !important;
  margin: 0.5rem 0 !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  background-color: #8750f6 !important;
  color: #ffffff !important;
  text-decoration: none !important;
  display: inline-block !important;
  cursor: pointer !important;
  transition: all 0.75s ease !important;
  text-align: center !important;
  height: auto !important;
  line-height: normal !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  font-size: 1rem !important;
}

#mc-embedded-subscribe:hover,
.button:hover {
  background-color: #f55b93 !important;
  color: #170322 !important;
}

#mc-embedded-subscribe,
#mc-embedded-subscribe:visited {
  background-color: #ed706b !important;
}

#mc-embedded-subscribe:hover {
  background-color: #ccfefe !important;
}

#mc-embedded-subscribe {
  line-height: 5rem !important;
}



.cssGrid {
  display: grid;
  grid-template-columns: 120px auto;
  column-gap: 6px;
  row-gap: 6px;
  margin: 1rem 0;
}

.swatchGrid {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
  column-gap: 8px;
  row-gap: 8px;
  margin: 1rem 0;
}

.swatch {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.swatch--violet {
  background-color: #502349;
}

.swatch--indigo {
  background-color: #480c78;
}

.swatch--chryslerBlue {
  background-color: #6114c7;
}

.swatch--orchid {
  background-color: #8750f6;
}
.swatch--orange {
  background-color: #ed924d;
}

.swatch--bittersweet {
  background-color: #ed706b;
}

.swatch--brightPink {
  background-color: #e36592;
}

.swatch--shockingPink {
  background-color: #d949be;
}
.swatch--carnationPink {
  background-color: #f2a7c8;
}

.swatch--gamboge {
  background-color: #fdf0a3;
}

.swatch--flax {
  background-color: #e0e59d;
}

.swatch--mintGreen {
  background-color: #ccfefe;
}
.swatch--turquoise {
  background-color: #66ddd3;
}

.swatch--lapisLazuli {
  background-color: #395f7b;
}


.sizeGrid {
  display: grid;
  grid-template-columns: 240px auto;
  column-gap: 12px;
  row-gap: 12px;
}

.tileHolder {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 24px;
  row-gap: 24px;
}

.tile {
  padding: 2rem;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 10px 11px 27px 1px rgba(105,109,142,0.25);
  -webkit-box-shadow: 10px 11px 27px 1px rgba(105,109,142,0.25);
  -moz-box-shadow: 10px 11px 27px 1px rgba(105,109,142,0.25);
  margin-right: 2rem;
  width: 100%;
  min-height: 36rem;
}

a, a:visited {
  color: #f55b93;
}

table.simple {
  margin: 2rem -2rem 2rem -2rem;
  background-color: #E7F0F7;
  width: calc(100% + 4rem);
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

table.simple tr:nth-child(even) {
  background-color: #F8FBFD;
}

table.simple tr.colHeading th {
  text-align: left;
  font-size: 0.75rem;
  padding: 0.5rem 0.25rem;
  border: 0;
}

table.simple th {
  text-align: left;
  font-size: 0.75rem;
  padding: 0.5rem 0.25rem 0.5rem 2rem;
  border: 0;
}

table.simple td {
  text-align: left;
  font-size: 0.75rem;
  padding: 0.5rem 0.25rem;
  border: 0;
}


/*@media screen and (min-width: 720px) {
body.clear {
}

#logoHolder {
  max-width: 90vw;
  max-height: 45vw;
  margin-top: calc(50vh - 22.5vw);
}

#message {
  width: 90vw;
  height: 45vw;
}

.standard h1 {
  font-size: 2.5rem;
}

#message {
  margin-top: -6vw;
}

}*/

@media screen and (max-width:1000px) {
body.clear {
  font-size: 24px;
}

h1 {
   font-size: 6rem !important;
}

p {
  font-size: 2rem !important;
}

#sparseHolder {
  padding-top: calc(50vh - 45vw);
}

#logoHolder {
  width: 90vw;
  height: 45vw;
}

#message {
  margin-top: -4vw;
  width: 90vw;
  height: 45vw;
}

.standard h1 {
  font-size: 2.25rem;
}

.button {

}

}
