@import "tailwindcss";

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s infinite;
}

@keyframes pulse-logo {
    0% {
        background-color: var(--color-blue-500);
    }
    33% {
        background-color: var(--color-teal-500);
    }
    66% {
        background-color: var(--color-pink-500);
    }
    100% {
        background-color: var(--color-blue-500);
    }
}

.animate-pulse-logo {
    animation: pulse-logo 4s infinite;
}

@keyframes pulse-logo-text {
    0% {
        color: var(--color-blue-500);
    }
    33% {
        color: var(--color-teal-500);
    }
    66% {
        color: var(--color-pink-500);
    }
    100% {
        color: var(--color-blue-500);
    }
}

.animate-pulse-logo-text {
    animation: pulse-logo-text 4s infinite;
}

.typewriter {
    text-transform: none;
    overflow: hidden;
    border-right: 0.1em solid white;
    animation: var(--animate-typewriter);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --animate-typewriter: typewriter 1s steps(11, end), blink-caret 0.75s step-end infinite;
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: white;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

figure.shiki[data-single-line="true"] > .absolute {
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    html {
        scroll-snap-type: y mandatory;
    }

    main > section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    body {
        scroll-snap-type: y mandatory;
    }
}
